<div>
  <mat-form-field style="width: 200px;">
    <mat-label>First Number</mat-label>
    <input matInput type="number" [(ngModel)]="x" placeholder="Enter First Number">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=0">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<div>
  <mat-form-field style="width: 200px;">
    <mat-label>Second Number</mat-label>
    <input matInput type="number" [(ngModel)]="y" placeholder="Enter Second Number">
    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="value=0">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>
<button mat-raised-button color="primary" (click)="calc()">
  Calculate
</button>


<div>
  <mat-form-field style="width: 200px;">
    <mat-label>Final Result</mat-label>
    <input matInput type="number" [(ngModel)]="result">
  </mat-form-field>
</div>
